@media screen and (max-width: 1260px) {
  .fixed-menu {
    width: 400px;
    padding: 30px 30px 10px 30px;
    transform: translateX(-100%);

    &.show {
      transform: translateX(0);
    }
  }
  .wrapper,
  .header {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .big-container,
  .container {
    max-width: 100%;
    padding-left: 18px;
    padding-right: 18px;
  }
  .about-quality__director-photo {
    transform: translateX(-140px);
  }
  .about-quality__right {
    margin-left: -150px;
  }
}
@media screen and (max-width: 992px) {
  .header .big-container {
    padding: 30px;
    margin: 0 30px;
  }
  .intro-title {
    font-size: 75px;
    line-height: 80px;
    text-align: center;
    margin: 0 auto;
  }
  .intro-human__img {
    height: 600px;
    width: 396px;
  }
  .intro-product {
    width: 414px;
    height: 318px;
    left: 216px;
  }
  .intro-servis__life {
    width: 104px;
    height: 104px;
  }
  .intro-servis__life-title {
    font-size: 29px;
    line-height: 29px;
  }
  .intro-servis__life-text {
    font-size: 7px;
    line-height: 10px;
  }
  .intro {
    padding-top: 125px;
    height: 900px;
  }
  .about-us__learn-more-title {
    font-size: 90px;
    line-height: 90px;
  }
  .about-us__cards {
    .swiper-pagination {
      bottom: -22px;
    }
  }
  .about-us__media-shorts,
  .product-info .benefits {
    display: none;
  }
  .product-info .top-box {
    .product-card__box {
      width: 100%;
    }
    .product-info__swiper {
      width: 100%;
      max-width: 100%;
    }
  }
  .product-info .product-card__img {
    height: 506px;
  }
  .product-info .product-swiper-btn-prev {
    left: 10px;
  }
  .product-info .product-swiper-btn-next {
    right: 10px;
  }
  .product-info .promo-section {
    grid-template-columns: 1fr;
  }
  .product-info .promo-section .promo-info .up-arrow {
    top: -29%;
    height: 144px;
  }
  .product-info .promo-section .heat-img {
    left: 50%;
    transform: translateX(-50%);
  }
  .about-quality .container {
    flex-direction: column;
    position: relative;
  }
  .about-quality__title {
    position: absolute;
    top: 0;
    right: -298px;
    font-size: 80px;
    line-height: 80px;
  }
  .about-quality__right {
    margin-left: 0;
    margin-top: 180px;
    display: flex;
    flex-direction: column-reverse;
  }
  .about-quality__director-photo {
    height: 626px;
    width: 403px;
    transform: translateX(-76px);
  }
  .about-quality .quote-box {
    display: none;
  }
  .about-quality__director-info-box {
    right: -30px;
    left: unset;
  }
  .about-quality__left {
    width: 100%;
  }
  .relative-wrapper {
    position: relative;
  }
  .reviews .stats {
    position: absolute;
    top: 32%;
    margin: 0;
    left: 10px;
    right: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  .about-quality .bottom-video__box {
    padding-top: 0;
  }
  .reviews .stats__item {
    padding: 20px;
  }
  .reviews .stats__number {
    font-size: 39px;
    line-height: 44px;
  }
  .reviews .stats__description {
    font-size: 16px;
    line-height: 19px;
  }
  .about-quality .bottom-video__box-arrow {
    display: none;
  }
  .about-quality .bottom-video__box {
    margin-bottom: 12px;
    margin: 0 auto;
  }
  .about-quality__right {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  .about-quality .video-box {
    justify-content: center;
    margin: 20px 0 47px 0;
  }
  .about-quality .video-box .up-arrow {
    width: 100px;
    height: 85px;
    bottom: -13px;
    right: 168px;
  }
  .about-quality .video-box .view-text {
    color: #fff;
    font-size: 26px;
    line-height: 16px;
    display: block;
    transform: translateX(-125px);
  }
  .about-quality .video-box {
    flex-direction: column-reverse;
    gap: 10px;
  }
  .reviews-box {
    padding-top: 44px;
    flex-direction: column;
    gap: 100px;
  }
  .reviews__videos {
    max-width: 100%;
  }
  .reviews__telegram-phone {
  }
  .reviews__telegram {
    max-width: 100%;
  }
  .reviews__telegram-text {
    font-size: 28px;
    line-height: 32px;
    width: 295px;
  }
  .reviews__telegram-phone {
    top: 0;
    right: 0;
    width: 306px;
    height: 330px;
  }
  .reviews__telegram-info {
    margin-top: 20px;
    width: 221px;
    height: 64px;
  }
  .reviews__telegram-info {
    font-size: 19px;
    gap: 10px;
    img {
      width: 50px;
      height: 48px;
    }
  }
  .reviews__telegram-phone {
    top: -18px;
    right: -50px;
  }
  .reviews .customer-reviews {
    margin-bottom: 22px;
  }
  .spatula-banner__title {
    font-size: 54px;
    line-height: 50px;
    position: relative;
    z-index: 10;
    width: 328px;
    margin: 0 auto;
    br {
      display: none;
    }
  }
  .spatula-banner {
    border-radius: 20px;
  }
  .spatula-banner .spatula-img {
    width: 222px;
    height: 226px;
    bottom: -91px;
    left: -104px;
    transform: rotate(29deg);
  }
  .spatula-banner .home-img {
    right: -48px;
    bottom: -33px;
  }
  .spatula .parent-box .red-btn {
    white-space: nowrap;
  }
  .spatula-banner {
    overflow: visible;
  }
  .spatula .certificates {
    flex-direction: column;
  }
  .spatula .certificate-card.one {
    background-position: right;
  }
  .better-top {
    flex-direction: column;
    align-items: start;
    width: 100%;
  }
  .better-banner__img-human {
    bottom: 0;
    width: 443px;
    height: 500px;
  }
  .better {
    .container {
      padding: 0;
    }
  }
  .better-banner {
    border-radius: 0;
    padding: 65px 31px 257px 31px;
  }
  .better-banner .better-product {
    bottom: -98px;
  }
  .better-banner__title {
    font-size: 54px;
    line-height: 52px;
    width: 250px;
  }
  .better-banner__info {
    font-size: 18px;
    line-height: 29px;
  }
  .better-banner .green-btn {
    position: relative;
    z-index: 10;
  }
  .better-banner {
    background-position: -100px 0;
  }
  .footer .container {
    flex-direction: column;
    align-items: start;
    & > div {
      width: 100%;
      justify-content: space-between;
    }
  }
  .recommend-watching {
    .next-swiper,
    .prev-swiper {
      display: none;
    }
    .swiper {
      pointer-events: none;
    }
    .swiper-wrapper {
      gap: 25px;
      pointer-events: none;
      flex-direction: column;
    }
  }
  .recommend-watching__card-img {
    border-radius: 10px;
  }
  .reviews-page {
    .partner .container {
      padding: 0;
    }
    .better-banner {
      padding: 55px 0 200px 16px;
    }
    .better-banner__img-human {
      right: 0;
    }
    .better-banner .better-product {
      right: 150px;
    }
  }
}
@media screen and (max-width: 768px) {
  .header .big-container {
    padding: 24px 20px 20px 20px;
  }
  .header-logo {
    font-size: 40px;
    height: 35px;
  }
  .header .menu-img {
    width: 30px;
    height: 30px;
  }
  .header-logo__text {
    font-size: 15px;
    line-height: 15px;
    margin-left: 0;
    width: 95px;
  }
  .header-logo__box {
    gap: 15px;
  }
  .header-tel,
  .header-email {
    font-size: 13px;
    line-height: 18px;
    white-space: nowrap;
  }
  .intro-title {
    font-size: 54px;
    line-height: 52px;
  }
  .intro {
    padding-top: 115px;
  }
  .intro .feature {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 40px;
    column-gap: 5px;
    row-gap: 35px;
    max-width: 270px;
  }
  .intro .feature-item {
    width: 100%;
    height: 56px;
    padding: 12px 0 0 0;
    text-align: center;
  }
  .intro .feature-text {
    font-size: 11px;
    line-height: 11px;
    width: 80%;
    margin: 0 auto;
  }
  .intro .feature-icon {
    width: 35px;
    height: 35px;
    font-size: 18px;
    top: -22px;
    left: 50%;
    transform: translateX(-50%);
    animation: none;
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.5), 0 0 0 4px rgba(255, 0, 0, 0.3),
      0 0 0 6px rgba(255, 0, 0, 0.2);
    img {
      width: 100%;
      height: 100%;
    }
    span {
      font-size: 12px;
      line-height: 12px;
    }
    &.green {
      box-shadow: 0 0 0 2px rgba(191, 223, 20, 0.5),
        0 0 0 4px rgba(191, 223, 20, 0.3), 0 0 0 6px rgba(191, 223, 20, 0.2);
      animation: none;
    }
  }
  .intro .feature-text__lg {
    font-size: 13px;
    line-height: 13px;
  }
  .intro .feature .small-text {
    font-size: 9px;
    line-height: 14px;
    br {
      display: none;
    }
  }
  .intro {
    height: 870px;
  }
  .intro-human__img {
    left: -100px;
  }
  .intro-servis__life {
    right: 15px;
  }
  .intro-human__info {
    padding: 15px 28px 15px;
    border-radius: 8px;
    left: -10px;
    bottom: 152px;
  }
  .intro-human__info h3 {
    font-size: 13px;
    line-height: 13px;
    span {
      font-size: 12px;
    }
  }
  .intro-human__info .text {
    font-size: 10px;
    line-height: 10px;
    margin-top: 5px;
  }
  .intro-product {
    left: 95px;
    bottom: 48px;
  }
  .about-us__learn-more-title {
    font-size: 62px;
    line-height: 70px;
  }
  .about-us__learn-more {
    border-radius: 10px;
    padding-top: 20px;
    transform: skew(0deg, -2deg) translateY(-65px);
  }
  .about-us__learn-more-icon {
    width: 84px;
    height: 84px;
  }
  .about-us__media .content-img {
    width: 220px;
    height: 125px;
  }
  .big-container,
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .about-us__media .content-title {
    font-size: 20px;
    line-height: 22px;
  }
  .product-info .price-list,
  .product-info .product-content,
  .product-info .order-btn {
    opacity: 0;
    transition: all 0.2s linear;
  }
  .swiper-backface-hidden .swiper-slide-active {
    .price-list,
    .product-content,
    .order-btn {
      opacity: 1;
    }
  }
  .product-info .promo-section .promo-info .up-arrow {
    top: -84%;
    height: 242px;
    right: 0;
    width: 73px;
    transform: rotate(5deg);
  }
  .product-info .top-box .product-info__swiper {
    overflow: visible;
  }
  .product-info .order-btn {
    height: 42px;
  }
  .product-info .promo-section .heat-img {
    width: 122px;
    height: 75px;
  }
  .product-info .promo-section .promo-info__title {
    font-size: 50px;
    line-height: 50px;
    width: 275px;
  }
  .product-info .promo-section .promo-info {
    padding-right: 5px;
  }
  .product-info .promo-section .block-img {
    width: 230px;
  }
  .product-info .promo-section .delivery-info__title {
    font-size: 38px;
    line-height: 38px;
  }
  .product-info .promo-section .delivery-info .red-btn {
    .media-show__text {
      display: block;
    }
    .media-hide__text {
      display: none;
    }
  }
  .product-info .promo-section .delivery-info .map-img {
    top: 0px;
    width: 442px;
    height: 255px;
  }
  .product-info {
    padding-bottom: 48px;
  }
  .product-info .product-info__swiper-pagination {
    display: block;
    bottom: 183px;
    .swiper-pagination-bullet {
      background: #cbcbcb;
    }
    .swiper-pagination-bullet-active {
      background: #fe311f;
    }
  }
  .product-info .price-list {
    margin-top: 55px;
  }
  .about-quality__title {
    font-size: 38px;
    line-height: 44px;
    width: 280px;
    right: -204px;
  }
  .about-quality__director-info-box {
    bottom: 157px;
    padding: 16px 33px 15px 24px;
    width: 230px;
    right: -60px;
  }
  .about-quality .director-info {
    font-size: 10px;
    line-height: 11px;
  }
  .about-quality .director-name {
    font-size: 12px;
    line-height: 12px;
  }
  .about-quality .bottom-video__box .video-bg {
    width: 223px;
    height: 144px;
  }
  .about-quality .bottom-video__box .play-btn {
    width: 74px;
    height: 74px;
  }
  .about-quality .bottom-video__box {
    margin-left: 20px;
    margin-bottom: 12px;
  }
  .reviews {
    padding-bottom: 40px;
  }
  .socials-subtitle {
    margin-bottom: 32px;
  }
  .socials {
    background: transparent;
    padding-top: 0;
  }
  .socials-title {
    font-size: 32px;
    line-height: 36px;
  }
  .socials-subtitle {
    font-size: 32px;
    line-height: 36px;
  }
  .media-hide__btn {
    display: none;
  }
  .better .media-block__btn {
    display: flex;
    position: absolute;
    bottom: 60px;
    z-index: 10;
    left: 30px;
  }
  .better {
    padding-top: 34px;
  }
  .better-banner__img-human {
    right: -160px;
  }
  .better-banner .better-product {
    right: 56px;
  }
  .footer {
    margin-top: 0;
  }
  .footer .container > div {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-bottom {
    flex-direction: column;
    align-items: center;
    gap: 33px;
  }
  .footer .container {
    gap: 25px;
  }
  .footer .container {
    padding: 0 20px;
  }
  .footer .footer-logo {
    flex-direction: column-reverse;
    gap: 4px;
    align-items: start;
    text-align: left;
    &__info {
      max-width: fit-content;
      white-space: nowrap;
      font-size: 14px;
      line-height: 16px;
    }
  }

  .footer-left__top {
    gap: 20px;
    justify-content: center;
  }
  .footer {
    padding: 53px 0 70px 0;
  }
  .reviews-block {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .reviews-block__box-img {
    width: 100%;
    height: 283px;
  }
  .reviews-block .reviews-quote {
    margin: 28px 0 40px 0;
  }
  .reviews-block__box-title {
    font-size: 35px;
    line-height: 45px;
  }
  .news {
    .swiper-wrapper {
      flex-direction: column;
      pointer-events: none;
      gap: 10px;
    }
    .swiper-slide {
      border: 1px solid #cecece;
      border-radius: 10px;
      overflow: hidden;
    }
    &-card {
      display: flex;
      align-items: center;
      &__img {
        min-width: 210px;
        max-width: 210px;
        height: 120px;
        border-radius: 0 0 0 0;
      }
      &__content {
        padding-left: 15px;
        padding: 10px;
      }
    }
  }
  .news .next-swiper,
  .news .prev-swiper {
    display: none;
  }
  .news-title {
    font-size: 22px;
  }
  .plaster-banner__img {
    display: none;
  }
  .plaster-banner {
    margin-left: -15px;
    margin-right: -15px;
    background: url(../images/media-banner.png) no-repeat;
    background-size: cover;
    border-radius: 0;
  }
  .reviews-header {
    position: absolute;
    top: 20px;
    left: 15px;
    margin: 0;
    .back-btn {
      background: #fff;
      padding: 7px 10px;
      border-radius: 10px;
    }
  }
  .logo-box {
    display: none;
  }
  .recommend-watching {
    margin-top: 30px;
  }
  .alert-box {
    padding: 20px;
    height: 175px;
    border-radius: 0;
    margin-left: -15px;
    margin-right: -15px;
    align-items: end;
    background: url(../images/alert-box-medai-bg.png) no-repeat;
    background-size: cover;
    background-position: top right;
  }
  .alert-box .alert-box__img {
    display: none;
  }
  .alert-box div {
    width: 263px;
  }
  .alert-box h3 {
    font-size: 22px;
    line-height: 26px;
  }
  .alert-box p {
    font-size: 16px;
  }
  .show-more__news.media-show {
    display: flex;
  }
  .logo-title {
    display: none;
  }
  .reviews-wrapper {
    .reviews-header {
      position: unset;
      margin: 20px 0;
    }
  }
  .reviews-page {
    .better {
      overflow: hidden;
    }
    .better-banner {
      padding-bottom: 300px;
    }
    .better-banner__img-human {
      right: -170px;
    }
    .better-banner .better-product {
      bottom: -177px;
      right: 0;
    }
    .better-banner__title {
      width: 335px;
    }
    .better-banner__info {
      margin: 10px 0;
    }
    .green-btn {
      bottom: 215px;
      left: 15px;
    }
  }
  .breadcrumb-box {
    justify-content: space-between;
    padding: 0 15px;
  }
  .reviews-page .footer {
    margin-top: 0;
  }
}

@media screen and (max-width: 480px) {
  .header .big-container {
    margin: 0;
    padding: 20px 15px;
  }
  .intro-product {
    bottom: 0;
  }
  .intro-human__img {
    left: -150px;
  }
  .intro .feature {
    margin-right: -18px;
  }
  .intro-title {
    font-size: 50px;
  }
  .about-us__learn-more-title {
    font-size: 45px;
    line-height: 45px;
  }
  .about-us__learn-more {
    padding: 20px 68px 6px 28px;
    transform: skew(0deg, -2deg) translateY(-40px);
  }
  .about-us__learn-more-icon {
    width: 74px;
    height: 74px;
  }
  .about-us__cards {
    margin-top: 40px;
  }
  .about-us__media .content-title {
    font-size: 15px;
    line-height: 18px;
  }
  .about-us__media .content-img {
    width: 195px;
    height: 100px;
  }
  .about-us__media-content {
    margin-top: 44px;
  }
  .about-us__media .right-box {
    gap: 22px;
  }
  .about-us {
    padding-bottom: 30px;
  }
  .product-info .product-content .product-desc {
    font-size: 15px;
    line-height: 18px;
  }
  .product-info .product-content .product-name {
    font-size: 20px;
    line-height: 22px;
  }
  .product-info .product-content {
    flex-direction: column;
    align-items: start;
  }
  .product-info .product-info__swiper-pagination {
    bottom: 220px;
  }
  .about-quality__title {
    font-size: 30px;
    line-height: 30px;
    width: 240px;
    right: -246px;
    margin-top: 0;
  }
  .reviews .stats__number {
    font-size: 27px;
    line-height: 27px;
  }
  .reviews .stats {
    gap: 14px;
  }
  .about-quality .bottom-video__box .video-info {
    padding: 24px;
  }
  .about-quality .video-box .view-text {
    transform: translateX(-95px);
  }
  .about-quality .video-box .up-arrow {
    bottom: -14px;
    right: 99px;
    transform: rotate(-11deg);
  }
  .spatula .certificates {
    margin-top: 90px;
  }
  .spatula .container {
    padding: 0;
  }
  .spatula .certificate-card {
    border: none;
  }
  .spatula .certificate-card.one {
    img {
      transform: translateX(-30px);
    }
  }
  .spatula .certificate-card.two {
    background: transparent;
    overflow: visible;
  }
  .spatula .certificate-card__desc {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .spatula .certificate-card.two .red-btn {
    position: unset;
    margin: 0 auto;
    display: block;
    transform: translate(0);
    text-align: center;
    width: fit-content;
  }
  .better-banner__img-human {
    right: -217px;
  }
  .reviews__telegram-phone {
    top: -21px;
    right: -157px;
  }
  .reviews .stats {
    top: 27%;
  }
  .spatula .certificate-card.two .card-img {
    width: 100%;
  }
  .fixed-menu {
    width: 300px;
    padding: 10px;
  }
  .fixed-menu__title .company-name {
    font-size: 60px;
    line-height: 70px;
  }
  .fixed-menu .list-box a {
    font-size: 16px;
    line-height: 18px;
  }
  .reviews-page .better-banner__img-human {
    right: -205px;
  }
  .reviews-page .better-banner__info {
    width: 269px;
  }
  .breadcrumb-box {
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (max-width: 400px) {
  .news-card {
    flex-direction: column;
  }
  .news-card__img {
    max-width: 100%;
  }
}
