* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
ol {
  padding: 0;
  list-style: none;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
span,
a {
  display: inline-block;
}
button {
  padding: 0;
  cursor: pointer;
  background: transparent;
}
body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  margin: 0;
}
.wrapper {
  overflow: hidden;
  width: calc(100% - 481px);
  margin-left: auto;
}

.big-container {
  max-width: 1170px;
  margin: 0 auto;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.swiper-pagination {
  bottom: -30px;
}
.swiper-pagination-bullet {
  background: #353535;
  opacity: 1;
  width: 13px;
  height: 13px;
  border-radius: 10px;
  transition: all 0.2s linear;
}
.swiper-pagination-bullet-active {
  background: #fe311f;
  width: 34px;
}

// fixed menu
.fixed-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 481px;
  z-index: 9999;
  background: #ef1e1e;
  height: 100vh;
  color: #fff;
  overflow-y: auto;
  padding: 82px 57px 10px 80px;
  transition: all 0.2s linear;

  &.top {
    background: #ef1e1e;
  }

  &.scrolled {
    background: #000;
  }

  &::-webkit-scrollbar {
    display: none;
  }
  &__title {
    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: 52px;
    .company-name {
      font-family: 'Bebas Neue', sans-serif;
      font-size: 70px;
      line-height: 99px;
    }
  }
  .list-box {
    display: flex;
    flex-direction: column;
    gap: 35px;
    .span {
      font-size: 20px;
      color: #fff;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 35px;
    }
    a {
      color: #fff;
      font-size: 20px;
      transition: all 0.2s linear;
      border-bottom: 1px solid transparent;
      width: fit-content;
      &:hover {
        border-color: #fff;
      }
    }
  }
  .bottom-content {
    margin-top: 44px;
    .label {
      font-size: 20px;
      line-height: 11px;
      font-weight: 300;
      display: block;
      color: #fff;
    }
    .label-sm {
      font-size: 14px;
      line-height: 14px;
      font-weight: 200;
      display: block;
    }
    .tel-number {
      font-size: 24px;
      font-weight: bold;
      line-height: 37px;
      color: #bfdf14;
      margin: 9px 0 12px 0;
    }
    .email-box {
      display: flex;
      gap: 9px;
      align-items: center;
      color: #fff;
      font-size: 22px;
      line-height: 39px;
      margin-top: 21px;
      margin-bottom: 43px;
    }
  }
  .social-medias {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    a {
      min-width: 43px;
      min-height: 43px;
      max-width: 43px;
      max-height: 43px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
// fixed menu

// header start
.header {
  position: absolute;
  top: 0;
  width: calc(100% - 481px);
  right: 0;
  z-index: 100;
  .big-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #121212;
    padding: 60px 40px 30px 40px;
    border-radius: 0 0 10px 10px;
  }
  &-logo__box {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &-logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 70px;
    height: 66px;
    color: #de1d1d;
  }
  &-logo__text {
    margin-left: 6px;
    font-size: 25px;
    line-height: 29px;
    color: #fff;
  }
  &-tel {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    line-height: 29px;
  }
  &-email {
    color: #656565;
    font-size: 22px;
    line-height: 30px;
    display: block;
    text-align: right;
  }
}
// header end

// intro start
.intro {
  background: url(../images/home-bg-2.png) no-repeat;
  background-size: cover;
  padding-top: 196px;
  height: 1092px;
  background-position: center;
  .big-container {
    position: relative;
    height: 100%;
    z-index: 1;
  }
  &-human__info {
    background: #fff;
    position: absolute;
    bottom: 40px;
    left: 0;
    padding: 25px;
    border-radius: 10px;
    h3 {
      font-size: 19px;
      line-height: 17px;
      font-family: 'Myriad Pro', sans-serif;
      span {
        font-weight: normal;
      }
    }
    .text {
      margin-top: 8px;
      font-size: 14px;
      line-height: 13px;
      color: #4b4b4b;
    }
  }
  &-human__img {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 897px;
    width: 591px;
  }
  &-product {
    position: absolute;
    bottom: 0;
    left: 331px;
    width: 614px;
    height: 575px;
    z-index: -1;
  }
  &-title {
    font-size: 90px;
    line-height: 90px;
    color: #ffffff;
    font-family: 'Bebas Neue', sans-serif;
    margin-left: auto;
    width: fit-content;
    position: relative;
    z-index: 3;
  }
  &-servis__life {
    position: absolute;
    width: 176px;
    height: 176px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    bottom: 88px;
    right: 305px;
    background: linear-gradient(0deg, #d1d1d1, #ffffff);
    box-shadow: 0 0 5px 3px rgba(240, 240, 240, 0.8);
    &-text {
      font-family: 'Ubuntu', sans-serif;
      text-transform: uppercase;
      font-size: 12px;
      color: #f51d20;
      margin-bottom: 11px;
    }
    &-title {
      font-family: 'Bebas Neue', sans-serif;
      font-size: 50px;
    }
  }
  .feature {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: end;
    margin-left: auto;
    width: fit-content;
    color: #fff;
    &-icon {
      width: 70px;
      height: 70px;
      position: absolute;
      left: -30px;
      top: 50%;
      transform: translateY(-50%);
      background: #ef2413;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 0 5px rgba(255, 0, 0, 0.5),
        0 0 0 10px rgba(255, 0, 0, 0.3), 0 0 0 15px rgba(255, 0, 0, 0.2);
      animation: pulse2 2s infinite;
      @keyframes pulse2 {
        0% {
          box-shadow: 0 0 0 5px rgba(255, 0, 0, 0.5),
            0 0 0 10px rgba(255, 0, 0, 0.3), 0 0 0 15px rgba(255, 0, 0, 0.2);
        }
        50% {
          box-shadow: 0 0 0 10px rgba(255, 0, 0, 0.1),
            0 0 0 20px rgba(255, 0, 0, 0.1), 0 0 0 30px rgba(255, 0, 0, 0.05);
        }
        100% {
          box-shadow: 0 0 0 5px rgba(255, 0, 0, 0.5),
            0 0 0 10px rgba(255, 0, 0, 0.3), 0 0 0 15px rgba(255, 0, 0, 0.2);
        }
      }
      &.green {
        background: #bfdf14;
        box-shadow: 0 0 0 5px rgba(191, 223, 20, 0.5),
          0 0 0 10px rgba(191, 223, 20, 0.3), 0 0 0 15px rgba(191, 223, 20, 0.2);
        animation: pulseGree 2s infinite;
      }
      font-size: 22px;
      font-weight: 500;
      @keyframes pulseGree {
        0% {
          box-shadow: 0 0 0 5px rgba(191, 223, 20, 0.5),
            0 0 0 10px rgba(191, 223, 20, 0.3),
            0 0 0 15px rgba(191, 223, 20, 0.2);
        }
        50% {
          box-shadow: 0 0 0 10px rgba(191, 223, 20, 0.1),
            0 0 0 20px rgba(191, 223, 20, 0.1),
            0 0 0 30px rgba(191, 223, 20, 0.05);
        }
        100% {
          box-shadow: 0 0 0 5px rgba(191, 223, 20, 0.5),
            0 0 0 10px rgba(191, 223, 20, 0.3),
            0 0 0 15px rgba(191, 223, 20, 0.2);
        }
      }
    }
    &-item {
      width: 252px;
      background: linear-gradient(145deg, #3c3c3c, #111);
      padding: 30px 30px 30px 66px;
      border-radius: 10px;
      height: 100px;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      box-shadow: inset 0px 0px 10px #3c3c3c;
    }
    &-text {
      font-size: 20px;
      line-height: 20px;
      color: #fff;
      font-weight: normal;
      span {
        color: #bfdf14;
      }
    }
    .small-text {
      font-size: 16px;
      line-height: 18px;
      font-weight: 300;
    }
    &-text__lg {
      font-size: 24px;
      line-height: 24px;
      font-weight: 500;
    }
  }
}
// intro end

// about-us
.about-us {
  background: #191818;
  padding-bottom: 113px;
  z-index: 10;
  position: relative;
  &__learn-more {
    width: fit-content;
    margin: 0 auto;
    background: #292929;
    position: relative;
    padding: 28px 82px 0 28px;
    border-radius: 30px;
    transform: skew(0deg, -2deg) translateY(-4px);
    &-title {
      font-size: 122px;
      line-height: 137px;
      color: #fff;
      font-family: 'Bebas Neue', sans-serif;
      span {
        color: #f53120;
      }
    }
    &-icon {
      position: absolute;
      bottom: -30px;
      right: -16px;
      animation: fade 1s linear infinite alternate;
    }
  }
  @keyframes fade {
    0% {
      transform: translateY(0);
    }
    0% {
      transform: translateY(10px);
    }
  }
  &__cards {
    margin-top: 65px;
    position: relative;
  }
  &__card {
    overflow: hidden;
    border-radius: 10px;
    background: #292929;
    width: 100%;

    &-img {
      width: 100%;
      height: 214px;
      object-fit: cover;
    }
    &-body {
      padding: 20px 18px 20px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-title {
      font-family: 'Gilroy', sans-serif;
      font-size: 20px;
      line-height: 25px;
      font-weight: 400;
      color: #fff;
      text-transform: uppercase;
    }
    .next-btn {
      border-radius: 50%;
      min-width: 52px;
      max-width: 52px;
      height: 52px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #414141;
      transition: all 0.2s linear;
      &:hover {
        background: #4f4c4c;
      }
    }
  }
  &__media {
    display: flex;
    margin-top: 31px;
    gap: 24px;
    align-items: stretch;
    .swiper-pagination {
      bottom: -30px;
    }
    &-shorts {
      background: #0b0b0b;
      padding: 28px 0 62px 0;
      max-width: 712px;
      overflow: hidden;
      user-select: none;
      &-swiper {
        position: relative;
      }
      &-video {
        background: #3f3f3f;
        border-radius: 10px;
        height: 100%;
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .right-box {
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: space-between;
    }
    &-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    &-content-item {
      display: flex;
      align-items: center;
      gap: 12px;
    }
    .content-img {
      width: 195px;
      height: 110px;
      object-fit: cover;
      border-radius: 8px;
    }
    .content-title {
      font-size: 17px;
      line-height: 19px;
      font-weight: 500;
      color: #fff;
      margin-bottom: 10px;
    }
    .content-link {
      color: #6d6d6d;
      font-size: 14px;
      line-height: 19px;
    }
    .content-link__btn {
      background: #fe311f;
      border: 1px solid #fe311f;
      width: 134px;
      text-align: center;
      border-radius: 8px;
      color: #fff;
      text-transform: uppercase;
      height: 30px;
      font-size: 10px;
      line-height: 30px;
      transition: all 0.2s linear;
      &:hover {
        background: transparent;
      }
    }
    .more-content {
      color: #6d6d6d;
      font-size: 16px;
      line-height: 22px;
    }
  }
}

// about-us

// product-info
.product-info {
  padding: 37px 0 128px 0;
  .top-box {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }
  .product-info__swiper-pagination {
    display: none;
  }
  .product-swiper {
    // overflow: hidden;
    position: relative;
  }
  .product-info__swiper {
    max-width: 425px;
  }
  .product-swiper-btn-prev,
  .product-swiper-btn-next {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 57px;
    height: 57px;
    border: none;
    box-shadow: 2px 2px 14px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 33%;
    transform: translateY(-33%);
    right: -28px;
    z-index: 10;
    cursor: pointer;
  }
  .product-swiper-btn-prev {
    right: unset;
    left: -28px;
    img {
      transform: rotate(180deg);
    }
  }
  .product-card {
    &__img {
      width: 100%;
      height: 568px;
      object-fit: cover;
      box-shadow: 3px 5px 14px 5px rgba(240, 240, 240, 0.8);
      border-radius: 8px;
    }
  }
  .price-list {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 16px 0;
    .new-price {
      color: #c337ff;
      font-size: 27px;
      line-height: 32px;
      font-weight: 600;
    }
    .old-price {
      color: #9d9ba4;
      font-size: 19px;
      line-height: 23px;
      text-decoration: line-through;
    }
  }
  .product-content {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 16px;
    .product-name {
      font-family: 'Ubuntu', sans-serif;
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 4px;
      font-weight: 400;
    }
    .product-rating {
      display: flex;
      align-items: center;
      gap: 5px;
      .star-icon {
        width: 24px;
        height: 22px;
      }
      &__count {
        font-size: 20px;
        line-height: 20px;
        padding-top: 5px;
      }
    }
    .product-desc {
      color: #808080;
      font-size: 20px;
      line-height: 26px;
    }
  }
  .order-btn {
    background: #c237ff;
    width: 100%;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    gap: 14px;
    color: #fff;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.2s linear;
    &:hover {
      background: #9728ff;
    }
  }
  .benefits {
    max-width: 490px;
    &-title {
      margin-bottom: 58px;
      font-size: 42px;
      line-height: 44px;
      font-weight: bold;
      span {
        color: #fe311f;
      }
    }
  }
  .benefits-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .benefits-item {
    display: flex;
    gap: 23px;
    align-items: start;
    &__icon {
      width: 62px;
      height: 62px;
    }
    &__title {
      color: #fe311f;
      font-weight: bold;
      font-size: 24px;
      line-height: 27px;
    }
    &__desc {
      font-size: 20px;
      font-weight: 300;
      margin-top: 7px;
    }
  }
  .promo-section {
    margin-top: 93px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 42px;

    .promo-info {
      background: url(../images/promo-card-bg.png) no-repeat;
      background-size: 100% 100%;
      position: relative;
      padding: 67px 20px 31px 0;
      &__title {
        font-size: 60px;
        line-height: 60px;
        color: #fff;
        font-family: 'Bebas Neue', sans-serif;
        font-weight: bold;
        margin-left: auto;
        width: fit-content;
        span {
          color: #f33626;
        }
      }
      .up-arrow {
        position: absolute;
        top: -86%;
        right: 20px;
        transform-origin: bottom;
      }
    }
    .heat-img {
      position: absolute;
      top: -42px;
      left: 193px;
    }
    .block-img {
      position: absolute;
      bottom: -40px;
      left: -68px;
    }
    .delivery-info {
      text-align: center;
      border: 2px solid #e4e4e4;
      border-radius: 20px;
      position: relative;
      padding: 46px 16px 18px 16px;
      z-index: 1;
      .map-img {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        width: 499px;
        height: 283px;
      }
      &__title {
        font-size: 42px;
        line-height: 38px;
        font-weight: bold;
        color: #000000;
        margin-bottom: 18px;
        span {
          color: #fe311f;
        }
      }
      p {
        font-size: 27px;
        line-height: 31px;
        font-weight: normal;
        margin: 18px 0 11px 0;
      }
      .red-btn {
        background: #fe311f;
        border: 1px solid #fe311f;
        font-size: 20px;
        line-height: 63px;
        padding: 0 85px;
        border-radius: 8px;
        color: #fff;
        transition: all 0.2s linear;
        height: 63px;
        &:hover {
          background: transparent;
          color: #fe311f;
        }
      }
    }
  }
}
// product-info

// about-quality
.about-quality {
  background: url(../images/about-quality-bg.png) no-repeat;
  padding: 80px 0 0 0;
  background-size: cover;
  .container {
    display: flex;
    align-items: start;
  }
  &__title {
    font-size: 90px;
    line-height: 90px;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    color: #fff;
    width: 661px;
    transform: translateX(-230px);
    margin-top: 31px;
    span {
      color: #fe311f;
      display: inline;
    }
  }
  &__left {
    position: relative;
  }
  &__director-info-box {
    position: absolute;
    bottom: 130px;
    max-width: 256px;
    background: #fff;
    border-radius: 10px;
    padding: 23px 26px 18px 26px;
  }
  &__director-photo {
    transform: translateX(-32px);
  }
  .director-name {
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
  }
  .director-info {
    font-size: 15px;
    line-height: 16px;
    color: #4b4b4b;
    margin-top: 8px;
  }
  .quote-box {
    max-width: 375px;
    width: 100%;
    margin-top: 24px;
    .quote-info {
      font-size: 22px;
      line-height: 28px;
      color: #fff;
      margin: 5px 0;
      font-weight: 500;
    }
    .quote-img {
      display: flex;
      gap: 4px;
      align-items: center;
    }
    .bottom-quote__img {
      transform: rotate(180deg);
    }
    .line {
      width: 100%;
      height: 1px;
      background: #b8b0a9;
    }
  }
  .video-box {
    display: flex;
    align-items: center;
    gap: 2px;
    position: relative;
    .view-text {
      display: none;
    }
    .up-arrow {
      position: absolute;
      bottom: -69px;
      right: 170px;
      z-index: 2;
    }
  }
  &__video-box {
    position: relative;
    z-index: 1;
    .about-quality__video-time {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 5px 11px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      background: rgba(0, 0, 0, 0.4);
      z-index: 2;
      span {
        font-size: 15px;
        color: #fff;
      }
    }
  }
  &__video {
    border: 2px solid #c6c6c6;
    border-radius: 50%;
    width: 225px;
    height: 225px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    .play-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: none;
      z-index: 1;
    }
    .video-bg {
      position: absolute;
      top: -2px;
      left: -3px;
      width: 103%;
      height: 102%;
      object-fit: cover;
      z-index: -1;
    }
  }
  .bottom-video__box {
    position: relative;
    padding-top: 180px;
    display: flex;
    align-items: center;
    &-arrow {
      position: absolute;
      transform: rotate(180deg);
      z-index: 10;
      top: 110px;
      left: 36px;
    }
    .play-btn {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: none;
      width: 81px;
      height: 81px;
      border-radius: 50%;
      background: #fd3f2e;
      box-shadow: 0 0 0 9px rgba(253, 63, 46, 0.36);
      position: absolute;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      animation: pulse 2s infinite;
    }
    @keyframes pulse {
      0% {
        box-shadow: 0 0 0 9px rgba(253, 63, 46, 0.36);
      }
      50% {
        box-shadow: 0 0 0 15px rgba(253, 63, 46, 0.2);
      }
      100% {
        box-shadow: 0 0 0 9px rgba(253, 63, 46, 0.36);
      }
    }
    .video-bg {
      position: relative;
      width: 243px;
      height: 155px;
      border: 1px solid #978884;
      border-radius: 8px;
      overflow: hidden;
      &__img {
        position: absolute;
        top: -2px;
        left: -2px;
        width: 102%;
        height: 102%;
        object-fit: cover;
        border-radius: inherit;
      }
    }
    .video-info {
      max-width: 262px;
      border-radius: 0 8px 8px 0;
      border: 1px solid #978884;
      padding: 34px 65px 26px 26px;
      color: #fff;
      background: rgba(255, 255, 255, 0.1);
    }
    .video-content {
      display: flex;
      align-items: center;
    }
  }
}
// about-quality

// reviews
.reviews {
  padding-bottom: 76px;

  .stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(267px, 1fr));
    gap: 20px;
    position: relative;
    z-index: 10;
    margin: -50px 0 100px 0;
    &__item {
      padding: 25px 28px;
      background: #f9f9fa;
      border: 1px solid #cbcbcb;
      border-radius: 8px;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
    &__number {
      font-size: 48px;
      line-height: 53px;
      color: #ff4231;
      font-weight: 900;
    }
    &__description {
      font-size: 19px;
      line-height: 20px;
      color: #2e2e2e;
    }
  }
  &-box {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 16px;
  }
  &__telegram {
    max-width: 500px;
    width: 100%;
    position: relative;
    &-text {
      font-size: 36px;
      line-height: 49px;
    }
    &-phone {
      position: absolute;
      top: 56px;
      width: 391px;
      height: 422px;
      right: -91px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &-info {
      max-width: 296px;
      width: 100%;
      height: 86px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 17px;
      background: #fff;
      box-shadow: 0 0 24px 2px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      margin-top: 70px;
      position: relative;
      z-index: 2;
      font-size: 26px;
      line-height: 33px;
      color: #444444;
    }
  }
  &__videos {
    max-width: 483px;
    width: 100%;
    position: relative;
  }
  &__video-main {
    width: 100%;
    height: 271px;
    border-radius: 8px;
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
      border-radius: inherit;
    }
  }
  &__bottom-videos {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  &__video-thumbnail {
    border-radius: 8px;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.2s linear;
    &:hover {
      opacity: 1;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
    }
  }
  .customer-reviews {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 32px;
    text-align: center;
    font-weight: 400;
  }
}
// reviews

// socials
.socials {
  padding: 49px 0 105px 0;
  background: #eff4f9;
  &-title {
    font-size: 42px;
    line-height: 44px;
    font-weight: bold;
    text-align: center;
  }
  &-subtitle {
    font-size: 42px;
    line-height: 44px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 39px;
  }
  &-list {
    gap: 8px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(183px, 1fr));
  }
  &-item {
    gap: 20px;
    display: flex;
    align-items: center;
    background: #fff;
    padding: 12px 8px;
    border-radius: 8px;
    box-shadow: 0 0 5px 4px rgba(131, 131, 131, 0.1);
    height: 71px;
    img {
      width: 48px;
      height: 48px;
    }
  }
  &-name {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
  }
  &-link {
    font-size: 9px;
    line-height: 14px;
    font-weight: normal;
    display: block;
    font-weight: 300;
  }
}
// socials

// spatula
.spatula {
  &-banner {
    max-width: 961px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    background: url(../images/spatula-bg.png) no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: 1;
    padding: 54px 0 81px 0;
    border-radius: 10px;
    margin-top: -37px;
    &__title {
      font-weight: bold;
      font-size: 72px;
      line-height: 72px;
      color: #fff;
      text-transform: uppercase;
      font-family: 'Bebas Neue', sans-serif;
      transform: skew(0, -3deg);
      span {
        color: #f33626;
      }
    }
    .spatula-img {
      position: absolute;
      bottom: -60px;
      left: -18px;
      width: 222px;
      height: 226px;
      transform: rotate(7deg);
    }
    .home-img {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: -1;
    }
  }
  .parent-box {
    position: relative;
    .red-btn {
      background: #f43726;
      padding: 30px 60px;
      color: #fff;
      font-size: 16px;
      line-height: 18px;
      text-transform: uppercase;
      border-radius: 8px;
      margin-top: 31px;
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      box-shadow: 0 6px 0px #b02114;
      transition: all 0.2s linear;
      &:hover {
        background: #fff;
        color: #f43726;
      }
    }
  }
  .certificates {
    display: flex;
    align-items: stretch;
    gap: 27px;
    margin-top: 95px;
  }
  .certificate-card {
    border: 1px solid #eaeaea;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding: 33px 33px 7px 0;
    z-index: 1;
    flex: 1 1 556px;
    &.one {
      background: url(../images/card-bg-1.png) no-repeat;
      background-size: 123% 100%;
      background-position: -120px -40px;
    }
    &.two {
      padding-left: 33px;
      background: url(../images/card-fon.png) no-repeat;
      background-size: cover;
      background-position: 0 -12px;
      .card-img {
        display: block;
        margin: 0 auto;
      }
      .red-btn {
        background: #f43726;
        border: 1px solid #f43726;
        padding: 30px 60px;
        color: #fff;
        font-size: 16px;
        line-height: 18px;
        text-transform: uppercase;
        border-radius: 8px;
        margin-top: 31px;
        position: absolute;
        bottom: 33px;
        left: 50%;
        white-space: nowrap;
        transform: translateX(-50%);
        z-index: 1;
        box-shadow: 0 6px 0px #b02114;
        transition: all 0.2s linear;
        &:hover {
          background: #fff;
          color: #f43726;
        }
      }
    }
    .info-box {
      max-width: 450px;
      margin: 0 auto;
      text-align: center;
    }
    &__title {
      font-size: 32px;
      line-height: 36px;
      font-weight: bold;
      span {
        font-weight: normal;
      }
    }
    &__desc {
      font-size: 22px;
      line-height: 28px;
      margin-top: 20px;
    }
  }
}
// spatula

// better
.better {
  padding-top: 20px;
  .container {
    position: relative;
  }
  &-top {
    background: #f5f5f5;
    padding: 32px 36px 32px 46px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 34px;
    width: fit-content;
    &__info {
      font-size: 22px;
      line-height: 26px;
      font-weight: normal;
    }
  }
  &-banner {
    overflow: hidden;
    background: url(../images/zavob-bg.png) no-repeat;
    background-size: cover;
    margin-top: 43px;
    position: relative;
    z-index: 1;
    border-radius: 30px;
    padding: 56px 16px 23px 55px;
    &__title {
      font-size: 60px;
      line-height: 65px;
      color: #fff;
      font-family: 'Bebas Neue', sans-serif;
      font-weight: bold;
      span {
        color: #ff3b2b;
      }
    }
    &__info {
      font-size: 24px;
      line-height: 32px;
      font-weight: normal;
      color: #fff;
      margin: 20px 0;
    }
    &__img-human {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 2;
      width: 448px;
    }
    .better-product {
      position: absolute;
      bottom: -150px;
      right: 223px;
    }
  }
  .media-block__btn {
    display: none;
  }
  .green-btn {
    background: #bbee55;
    border: 1px solid #bbee55;
    padding: 30px 60px;
    color: #454545;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    border-radius: 8px;
    z-index: 1;
    box-shadow: 0 6px 0px #87ac3d;
    transition: all 0.2s linear;
    &:hover {
      background: #fff;
      color: #ff3b2b;
      border-color: #fff;
    }
  }
}
// better

// footer
.footer {
  margin-top: 50px;
  background: #1b1d22;
  padding: 78px 0 155px 0;
  color: #fff;
  .container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 76px;
  }
  &-logo {
    display: flex;
    align-items: center;
    gap: 25px;
    color: #fff;
    &__info {
      font-size: 18px;
      font-weight: 500;
      line-height: 18px;
      max-width: 115px;
    }
    .logo-text {
      font-size: 68px;
      line-height: 97px;
      font-family: 'Bebas Neue', sans-serif;
      font-weight: bold;
    }
  }
  &-logos {
    display: flex;
    gap: 9px;
  }
  &-left {
    &__top {
      display: flex;
      align-items: center;
      gap: 46px;
      margin-bottom: 35px;
    }
  }
  &-label {
    font-size: 16px;
    line-height: 14px;
    color: #c2c3c4;
    font-weight: 200;
    display: block;
  }
  .email-box {
    display: flex;
    align-items: center;
    gap: 9px;
    margin-top: 20px;
    a {
      font-size: 18px;
      font-weight: bold;
      color: #fff;
    }
  }
  &-bottom {
    display: flex;
    align-items: start;
    justify-content: space-between;
    &__left {
      .footer-label {
        margin-bottom: 15px;
      }
      a {
        font-size: 18px;
        line-height: 22px;
        color: #fff;
        font-weight: normal;
      }
    }
    &__right {
      .footer-tel__number {
        margin: 7px 0 12px 0;
        color: #bfdf14;
        font-size: 28px;
        line-height: 24px;
        font-weight: bold;
      }
    }
  }
  &-label__sm {
    font-size: 14px;
    line-height: 11px;
    font-weight: 200;
    color: #c2c3c4;
    display: block;
  }
  &-right {
    display: flex;
    gap: 35px;
    align-items: stretch;
    .box {
      display: flex;
      flex-direction: column;
      gap: 28px;
    }
    h4 {
      color: #3ca1f3;
      font-size: 18px;
      line-height: 24px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    a,
    .white-text {
      font-size: 18px;
      line-height: 24px;
      color: #c2c3c4;
      font-family: 'Myriad Pro', sans-serif;
      display: block;
      font-weight: 300;
      &.white {
        color: #fff;
      }
    }
    .white-text {
      color: #fff;
    }
  }
  a {
    transition: all 0.2s linear;
    &:hover {
      color: #fff;
    }
  }
}
// footer
.media-show__text {
  display: none;
}
.reviews-header {
  margin: 26px 0 16px 0;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
// reviews-block
.reviews-block {
  max-width: 667px;
  margin: 0 auto;
  font-family: 'Inter';
  &__box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    &-title {
      font-size: 40px;
      line-height: 50px;
      font-family: 'Inter';
      font-weight: 800;
    }
    &-desc {
      font-weight: 300;
      font-size: 20px;
      line-height: 32px;
    }
    &-img {
      width: 100%;
      object-fit: cover;
      height: 418px;
    }
    .small-title {
      font-size: 24px;
      line-height: 32px;
    }
  }
  .reviews-quote {
    margin: 35px 0 64px 0;
    padding: 30px 0;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      max-width: 520px;
      width: 100%;
      height: 2px;
      background: #fd2d1c;
    }
    &::after {
      top: unset;
      bottom: 0;
    }
    &__info {
      font-size: 20px;
      line-height: 32px;
      font-style: italic;
      font-weight: 500;
      text-align: center;
    }
  }
}
// reviews-block

// recommend-watching
.recommend-watching {
  margin: 65px 0 35px 0;
  &.mt-0 {
    margin-bottom: 20px;
  }
  .title-box {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 19px;
    &__title {
      font-size: 26px;
      font-weight: 800;
    }
  }
  .recommend-swiper__box {
    position: relative;
  }
  &__card {
    &-img {
      width: 100%;
      height: 175px;
      object-fit: cover;
      border-radius: 20px;
    }
    &-title {
      font-size: 18px;
      line-height: 19px;
      font-weight: 700;
      width: 253px;
      margin: 14px 0 8px 0;
    }
    &-desc {
      font-size: 14px;
      line-height: 18px;
      color: #868585;
      width: 296px;
    }
  }
}
.partner {
  .better {
    position: relative;
    padding: 0;
  }
  .better-banner {
    margin-top: 28px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: -48px;
      left: -38px;
      background: linear-gradient(
        to bottom,
        rgba(255, 0, 0, 0.8),
        rgba(255, 0, 0, 0.1)
      );
      border-radius: 10px;
      padding: 20px;
      filter: blur(57px);
      width: 190px;
      height: 167px;
      z-index: -1;
      border-radius: 50%;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: -48px;
      right: -38px;
      background: linear-gradient(
        to bottom,
        rgba(255, 0, 0, 0.8),
        rgba(255, 0, 0, 0.1)
      );
      border-radius: 10px;
      padding: 20px;
      filter: blur(57px);
      width: 190px;
      height: 167px;
      z-index: -1;
      border-radius: 50%;
    }
  }
  .better-banner__img-human {
    width: 405px;
    height: 400px;
    right: 83px;
  }
  .better-banner .better-product {
    right: 270px;
  }
}
.reviews-wrapper .footer {
  margin-top: 20px;
}
.breadcrumb-box {
  display: flex;
  align-items: center;
  gap: 34px;
}
.back-btn {
  display: flex;
  align-items: center;
  gap: 13px;
  font-size: 15px;
  color: #000;
  img {
    transition: all 0.2s linear;
  }
  &:hover {
    img {
      transform: translateX(-10px);
    }
  }
}
.breadcrumb {
  display: flex;
  align-items: center;
  gap: 2px;
  a {
    font-size: 14px;
    color: #b9b8b7;
    &:hover {
      color: #3ca1f3;
    }
  }
}
.logo-title {
  color: #f11e1e;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 39px;
  line-height: 35px;
}
.sub-logo {
  font-size: 14px;
  line-height: 15px;
  font-family: 'Inter';
}
.logo-box {
  display: flex;
  align-items: start;
  gap: 10px;
}

// plaster-banner
.plaster-banner {
  margin: 0 0 42px 0;
  height: 221px;
  border-radius: 20px;
  &__img {
    border-radius: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
// plaster-banner
.alert-box {
  padding: 55px 0 35px 32px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: start;
  gap: 38px;
  margin-bottom: 45px;
  border-radius: 20px;
  overflow: hidden;
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  h3 {
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
    padding-top: 5px;
    span {
      color: #fd2d1c;
    }
  }
  p {
    font-size: 18px;
    margin-top: 10px;
  }
}
// recommend-watching

// news
.news {
  &-title__box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
  }
  &-title {
    font-size: 26px;
    font-weight: 800;
  }
  &-card {
    &__img {
      width: 100%;
      height: 110px;
      object-fit: cover;
      border-radius: 15px;
    }
    &__title {
      font-size: 16px;
      font-weight: bold;
    }
    &__desc {
      color: #868585;
      font-size: 12px;
      line-height: 14px;
      margin-top: 5px;
    }
  }
  .slider-box {
    position: relative;
  }
  .show-more__news {
    margin: 14px auto 24px auto;
  }
  .swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
  }
  .next-swiper,
  .prev-swiper {
    width: 31px;
    height: 31px;
    top: 22%;
    left: -16px;
    img {
      width: 10px;
    }
  }
  .next-swiper {
    right: -16px;
    left: unset;
  }
}
// news
.next-swiper,
.prev-swiper {
  width: 57px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #d2d2d2;
  box-shadow: 2px 2px 14px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 32%;
  transform: translateY(-50%);
  z-index: 10;
  left: -25px;
  img {
    transform: rotate(180deg);
  }
}
.show-more__news {
  margin: 14px auto 0 auto;
  display: flex;
  align-items: center;
  gap: 11px;
  font-size: 14px;
  color: #828282;
  background: #eeeeee;
  border-radius: 50px;
  padding: 14px 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;
  &:hover {
    color: #000;
  }
  &.media-show {
    display: none;
  }
}
.next-swiper {
  right: -25px;
  left: unset;
  img {
    transform: rotate(0);
  }
}
@import './media';
